<div class="container">

<h3>form Control Registration Form</h3>

<form>
  
    <label>Username</label>
    <input [formControl]="userName" type="text" class="form-control">
    {{userName.value}}

    <label>Password</label>
    <input [formControl]="password" type="password" class="form-control">
  
    <label>Email</label>
    <input [formControl]="email" type="password" class="form-control">
 
    <label>Date</label>
    <input [formControl]="date" type="date" class="form-control">
      
    <label>Hobbies</label>
    <div>
      <label>football</label>
      <input type="checkbox" name="hobbies" value="football" [formControl]="hobbies">
    </div>

    <div>
      <label>cricket</label>
      <input type="checkbox" name="hobbies" value="cricket" [formControl]="hobbies">
    </div>
    
    <div>
      <label>drawing</label>
      <input type="checkbox" name="hobbies" value="drawing" [formControl]="hobbies">
    </div>
    

    <label >Gender</label>
    <input type="radio" name="gender" value="Male" [formControl]="gender">Male
    <input type="radio" name="gender" value="Female" [formControl]="gender">Female

    <label>comments</label>
    <input [formControl]="comments" type="number" class="form-control">
    
</form>

</div>
<!-- 
<app-form-group></app-form-group>
<app-form-builder></app-form-builder> -->

