<h3>form-builder Registration Form</h3>

<form [formGroup]="registrationForm">
  {{registrationForm.value | json }}
<div>


  <div class="form-group">
    <label>Username</label>
    <input  formControlName="userName" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Password</label>
    <input formControlName="password" type="password" class="form-control">
  </div>

  <div class="form-group">
    <label>Confirm Password</label>
    <input formControlName="confirmPassword" type="password" class="form-control">
  </div>

</div>
  
  <div formGroupName="address">

    <div class="form-group">
      <label>City</label>
      <input formControlName="city" type="text" class="form-control">
    </div>
  
    <div class="form-group">
      <label>State</label>
      <input formControlName="state" type="text" class="form-control">
    </div>
  
    <div class="form-group">
      <label>Postal Code</label>
      <input formControlName="postalCode" type="number" class="form-control">
    </div>

  </div>


  <button type="submit">Submit</button>

  <button (click)="loadApiData()" type="button">Load API data</button>

</form>
